[submodule "third_party/third_party/sage_attn"]
	path = third_party/third_party/sage_attn
	url = https://github.com/thu-ml/SageAttention.git
[submodule "third_party/sage_attn"]
	path = third_party/sage_attn
	url = https://github.com/thu-ml/SageAttention.git
[submodule "third_party/sparge_attn"]
	path = third_party/sparge_attn
	url = https://github.com/thu-ml/SpargeAttn.git
